In [45]:
import pandas as pd

# 创建一个具有多层索引的 DataFrame
data = {'A': [1, 3, 2], 'B': [4, 5, 6], 'C': [7, 8, 9]}
index = pd.MultiIndex.from_tuples([('x', 1), ('x', 2), ('y', 3)],
                                 names=('X', 'Y'))
df = pd.DataFrame(data, index=index)
display(df)
values = df.loc[('x'), :]
a = []
for i in df.index.levels[0]: # type: ignore ,levels在新版本pandas中被移除
    values = df.loc[i, 'A'].sum() # type: ignore
    a.append(values)
print(a)
df.sort_values(by='A', ascending=False, inplace=True)
display(df)
df.sort_values(by='B', ascending=False, inplace=True)
display(df)

     A  B  C
X Y
x 1  1  4  7
  2  3  5  8
y 3  2  6  9

[4, 2]

     A  B  C
X Y
x 2  3  5  8
y 3  2  6  9
x 1  1  4  7

     A  B  C
X Y
y 3  2  6  9
x 2  3  5  8
  1  1  4  7